{% extends "app/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="content">
<div class="col-md-14" style="margin:0px auto; padding: 15px; border:1px solid #cccccc; background-color:#f5f5f5; margin-top:10%; border-radius: 4px ">
        	<h4><b><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Reset Successful </h4></b></div></div><br />
                    <div class="content">
                <div class="col-md-14" style=" margin:0px auto; padding: 15px; border:1px solid #cccccc;border-radius: 4px;background-color:#f5f5f5; ">

<p>
    {% trans "Your password has been reset!" %}
    {% trans "You may now" %} &nbsp<a href="{% url 'auth_login' %}">{% trans "log in" %}</a>.
</p>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}