{% extends "app/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="content">
<div class="col-md-14" style="margin:0px auto; padding: 15px; border:1px solid #cccccc; background-color:#f5f5f5; margin-top:10%; border-radius: 4px ">
        	<h4><b><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Confirmation Sent </h4></b></div></div><br />
                    <div class="content">
                <div class="col-md-14" style=" margin:0px auto; padding: 15px; border:1px solid #cccccc;border-radius: 4px;background-color:#f5f5f5; ">
<p>
    {% blocktrans %}
    We have sent you an email with a link to reset your password.  Please check
    your email and click the link to continue.
    {% endblocktrans %}
</p>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}